{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "react", "react-hooks"],
  "extends": [
    "eslint:recommended",
    "plugin:react/jsx-runtime",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "rules": {
        "no-undef": "off",
        "react/prop-types": "off",
        "@typescript-eslint/ban-ts-comment": "warn",
        "react/react-in-jsx-scope": "off"
      }
    }
  ],
  "settings": {
    "react": { "version": "detect" }
  }
}
